.knowledge {
  border-radius: 999px;
  background-color: var(--secondary-brand);
  display: flex;
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--primary-background-color);

  &:hover {
    background-color: var(--secondary-brand);
  }

  &:active {
    background-color: var(--secondary-brand);
  }
}